.footer {
  padding: 2rem 5rem;
  background-color: #f1f1f1;
  color: #6b7280;
  font-family: Arial, sans-serif;
  width: 100%;
  margin-top: 45px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px solid rgba(107, 114, 128, 0.3);
  padding-bottom: 1.5rem;
}

.footer-brand {
  max-width: 600px;
  width: 40%;
}

.footer-brand .logo {
  height: 36px;
}

.footer-brand p {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-links h2 {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #1f2937;
  font-size: 1rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.75;
}

.footer-links ul li a {
  text-decoration: none;
  color: #6b7280;
}

.footer-links p {
  font-size: 0.875rem;
}

.subscribe-form {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.subscribe-form input {
  padding: 0.5rem;
  border: 1px solid rgba(107, 114, 128, 0.3);
  border-radius: 4px;
  width: 250px;
  outline: none;
}

.subscribe-form button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  font-size: 0.75rem;
  margin-top: 1rem;
}

.footer-bottom a {
  color: #2563eb;
  text-decoration: none;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .footer-top {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-links {
    flex-direction: row;
    gap: 4rem;
    align-items: flex-start;
  }
  
}
 @media (max-width:770px){
  .footer-brand {
      width: 100%;
  }
 }
